<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" >
    <title>{{the_title}}</title>
    <meta name="viewport" content="width=device-width" >
    <link type="text/css" href="../static/Content/wordplex.css" rel="stylesheet" >
	<link type="text/css" href="../static/Content/formx.css" rel="stylesheet" >
	<link type="text/css" href="../static/Content/tableStyler.css" rel="stylesheet" >
	<script type ="text/javascript" src="../static/Script/jquery-1.8.2.js"></script>
	<script type ="text/javascript" src="../static/Script/wordplexScripts.js"></script>


</head>
<body id = "mainBody">
	<div class = "container">
		
		<div class="float-left" id = 'fixedHead'>
			<div class="site-title">
				<img style = 'float:left' src="../static/Images/wordPlex2.png" >
				<div id = 'welcome'>{{ the_person }}</div>
			</div>
		</div>
			
		<div id="primary">
			{% block the_highscore %}
			{% endblock%}
		</div>
    
		<div id="content">
			{% block the_game %}
			{% endblock%}
		</div>
    
		<div id="secondary">
			{% block the_rules %}
			{% endblock%}
		</div>
		
		{% block the_scripts %}
		{% endblock%}
	  
		<footer>
			<div class="content-wrapper">
				<div class="footer-left">
					<p style = 'position: absolute; bottom: 0; left: 0; padding-left:10px;'>&copy; 2014 - R Tapley C00162379</p>
				</div>
			</div>
		</footer>
	</div>
</body>
</html>